{% extends "homepage.html" %}
{%block content%}


<center> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15070.241837067173!2d73.1282278!3d19.214390999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be795b6d48ddabf%3A0x1c7eeecc78acea83!2sKalyan%20East%2C%20Pisavli%20Village%2C%20Maharashtra%20421306!5e0!3m2!1sen!2sin!4v1671379266031!5m2!1sen!2sin" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>
<br>
<div class="col-md-4" style="font-family: Verdana, Geneva, Tahoma, sans-serif;" >
  <p style="color:rgb(25, 223, 196);font-size: 18px;"><b>CONTACT US</b></p>
  <p><span class="glyphicon glyphicon-map-marker" ></span>Mumbai, INDIA</p>
  <p><span class="glyphicon glyphicon-phone"></span>Phone: +91 8424868227</p>
  <p><span class="glyphicon glyphicon-envelope"></span>Email: info@gmail.com</p>
</div>
<br><br><br>
<br><br><br>



{%endblock%}