{%extends "homepage.html" %}
{%block content%}
{% load static %}
<br><br>
<div class="row" style="background-color:rgb(205, 205, 219); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left:400px ;margin-right:400px ;height: auto;padding: 20px;" > 
     <br><center> <img src="{% static 'search.jpg'%}" alt="loading" height="200px" width="200px" ><br><br>
     <b style="font-size: 20px;"> You haven't applied yet!</b> 
    <p style="color: rgb(143, 143, 196);font-size: 18px;"> Search for jobs and start applying.<br>
    You can see your appliation here<br></p>

 <a href="/" style="border-radius: 45px;font-size:15px" class="btn btn-primary"> Start my job search</a>
</center>
</div>
<br><br><br><br><br><br><br>
{%endblock%}


