{% extends "rlogin.html" %}
{%block content%}
{% if messages %}
{% for message in messages %}
<center> 
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <center> <h4> <strong> {{message}}</strong>  </h4></center> 
</div></center>
{%endfor%}
{%endif%}








<style>
  .alert {
          width: 600px;
          height: 40px;

         
      }

  </style>

<script>
  $(document).ready(function () {
    function alignModal() {
      var modalDialog = $(this).find(".modal-dialog");

      // Applying the top margin on modal to align it vertically center
      modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
    }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);

    // Align modal when user resize the window
    $(window).on("resize", function () {
      $(".modal:visible").each(alignModal);
    });
  });
</script>
<script type="text/javascript">
  function send(id) {
    myfrm = document.getElementById(id);
    // alert(myfrm);
    myfrm.submit();

  }
</script>


<div
  style="margin-top: 20px;margin-bottom: 20px;font-size: 17px;color:black;background-color:white;width: autopx; margin-left: 250px;margin-right: 250px;padding:15px ;">

  <p style="font-size: 25px;"> {{job.title}}</p>
  <span class="glyphicon" style="margin-top: 5px;">&#xe139; </span> &nbsp;&nbsp; {{job.Experience}}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-wallet2"
    viewBox="0 0 16 16">
    <path
      d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
  </svg>&nbsp;&nbsp; {{job.salary}}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-geo-alt-fill"
    viewBox="0 0 15 15">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
  </svg>&nbsp;&nbsp; {{job.company.address1}}{{job.company.pincode}}

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="glyphicon">&#xe033;</span>&nbsp;&nbsp; {{job.company.type.type}}

</div>

<br>
{%for user in app%}
<div
  style="margin-left:300px;margin-right: 300px;background-color: white;padding: 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;">

  <p style="color:blue;font-size: 20px; "> &nbsp;&nbsp; {{user.uname.uname}}

    <img src="{{user.uname.image.url}}" height="100px" width="100px" align="right"> <br>
  </p>
  <span class="glyphicon"> <b> &#x2709; </b> </span>&nbsp;&nbsp; {{user.uname.email}}<br>

  <span class="glyphicon" style="margin-top: 10px;">&#xe139; </span>&nbsp;&nbsp; {{user.uname.work_status}}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-geo-alt-fill"
    viewBox="0 0 15 15">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
  </svg>&nbsp;&nbsp; {{user.uname.address}}<br>
  <p style="font-size:15px;margin-top: 9px;">
    {{user.uname.resume_headline}} </p>
  <p style="font-size:15px;margin-top: 9px;"> <b> Skills : </b> {{user.uname.key_skills}} </p>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/viewprofile/{{user.uname.id}}" style="font-size: 15px;color: blueviolet;"> RESUME</a>
  <a href="#myModal2{{user.uname.id}}" class="btn btn-primary" style="margin-left: 700px;" data-toggle="modal"> Response
  </a>


  <center>
    <form method="post" action="/msgresp/{{user.uname.id}}" id="myfrm{{user.uname.id}}">
      {% csrf_token %}
      <div id="myModal2{{user.uname.id}}" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"> <b> </b> </h4>
            </div>
            <div class="modal-body" align="left">
              <h5> <b>From </b>&nbsp; &nbsp; &nbsp; &nbsp; {{user.job.company.email}} </h3>
                <hr>
                <h5> <b>To </b> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{user.uname.email}}</h3>
                  <hr>
                  <h5> <b>Subject </b>&nbsp;&nbsp; {{job.title}} </h3>
                    <input type="hidden" name="job" value="{{job.id}} ">

                    <hr>
                    <textarea name="msg" cols="60" rows="5" maxlength="500" class="form-control form-control-lg"
                      placeholder="Start writing here" required></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
              <button type="button" class="btn btn-primary" onclick="send('myfrm{{user.uname.id}}')">Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </center>


</div><br>
{%endfor%}


{%endblock%}