{% extends "rlogin.html" %}
{%block content%}
<style>
</style>

{% if messages %}
{% for message in messages %}

<center> 
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <center> <h4> <strong> {{message}}</strong>  </h4></center> 
    </div></center>
{%endfor%}
{%endif%}
<section class="vh-100">
    <br><br>

    <div class="container py-5 h-100" style=" width:500px;background-color:hsla(0, 29%, 82%, 0.505);">
        <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="card-body p-5 text-center"><br><br>
                <h2 style="color:rgb(202, 9, 227);font-family: 'Times New Roman', Times, serif;">  <b>Create Account   </b></h2>
                <h5
                    style="color:rgb(239, 111, 20);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    or already register? <a href="/RecruitLogin" style="color:rgb(125, 12, 231)"><b>Login now  </b> </a> </h5>
                <br>

                <form method="post" enctype="multipart/form-data" action="/RecruitSignup" >
                    {% csrf_token %}

                    <center>
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" placeholder="Company Name"
                                style="width:350px;background-color:beige;color:rgb(239, 111, 20);" name="cname"
                                required>
                    </center>
            </div>
            <br>
            <center>
                <div class="form-outline mb-4">
                    <input type="email" class="form-control form-control-lg" placeholder="Official Email"
                        style="width:350px;background-color:beige;color:rgb(239, 111, 20);" name="email" required />

                </div><br>
            </center>
            <center>
                <div class="form-outline mb-4">
                    <input type="number" class="form-control form-control-lg" placeholder="Phone Number"
                        style="width:350px;background-color:beige;color:rgb(239, 111, 20);" name="phone" required />

                </div><br>
            </center>
            <center>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control form-control-lg" placeholder="Contact Person Name"
                        style="width:350px;background-color:beige;color:rgb(239, 111, 20);" name="person" required />

                </div><br>
            </center>


            <div class="form-outline mb-4">
                <label for="type" style="margin-left: 80px;"> Select Industry  </label>

                <select name="type" id="type" value="Select Industry"  class="form-control" style="width:350px;background-color:beige;margin-left: 80px;" required>
               
                    {%for t in type%}
                    <option> {{t}} </option>
                    {%endfor%}
                </select>
                
            </div><br>



            <div class="form-outline mb-4">
                <input type="number" class="form-control form-control-lg" placeholder="Pincode"
                    style="width:100px;background-color:beige;margin-left:80px ;color:rgb(239, 111, 20);" name="pin" required />
            </div><br>
            <center>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control form-control-lg" placeholder="Address"
                        style="width:350px;background-color:beige;color:rgb(239, 111, 20);" name="add" required />

                </div><br>
            </center>
            <div class="form-outline mb-4">
            <label   style="margin-left: 80px;" >
                <b >  Upload Company Logo  </b> <input type="file"  name="file1" required>
                        </label><br><br></div>

            <center>
                <button class="btn btn-primary btn-lg btn-block" type="submit" style="width:350px;"> Create Account
                </button></center>
                </form>
                <br>
        </div>

     

    </div>
    </div>
</section>
{%endblock%}