{% extends "rlogin.html" %}
{%block content%}

<br><br><br>
<section class="vh-100">
    <center> 

    <div class="container py-5 h-100" style=" background-color: rgba(216, 120, 35, 0.226);" >

            <H1 style="color:rgb(82, 9, 151); ;font-style: italic;"> Your Payment done Sucessfully.</H1>

   <br><br>
    <h3 style="color:rgb(82, 9, 151); font-style: italic;"> <p style="color:rgb(247, 211, 8)" > Your Password is :  {{pass}}  </p>  <br><br>
     Please login with email and same Password <a href="/RecruitLogin"> &nbsp;&nbsp; login here </a></h3>
</center> <br><br></div>
</section><br>
<br><br><br><br>
{%endblock%}